parameters:
    level: 6
    paths:
        - src
        - tests
    stubFiles:
        - stubs/PredisClient.stub
        - stubs/RedisCluster.stub
        - stubs/RedisSentinel.stub
    scanFiles:
        - stubs/PredisClient.stub
        - stubs/RedisCluster.stub
        - stubs/RedisSentinel.stub
